<!DOCTYPE html>
<html>

<head>
  <title>Pipeline</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/chat.css' />
  <script src="https://kit.fontawesome.com/fcc82c8a72.js" crossorigin="anonymous"></script>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
  <login-sucess>
    <h1>Login successful</h1>
  </login-sucess>
  <main-container>

    <!-- Mention alert -->
    <div class="alert alert-success alert-dismissible fade" role="alert" id="mention-alert">
      <strong>New mention! </strong><span id="mention-message">Text haha</span>
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true" id="mention-dismiss">&times;</span>
      </button>
    </div>

    <!-- Left side bar -->
    <side-bar>
      <img src="img/pipeline.svg" alt="Logo">
      <user-name>
        <i class="fas fa-circle"></i>
        <label for="user-settings">
          <span id="alias">Bryan Santamaria </span>
          <i class="fas fa-cog" id="user-settings"></i>
        </label>
      </user-name>

      <!-- Public channels -->
      <public-channels>
        <div id="channel-title"><i class="fas fa-plus-circle" id="create-chatroom"></i> Channels</div>
        <% for(let id = 0; id < chatrooms.length; id++){ %>
          <% if(chatrooms[id].type == 'publicChannel'){ %>
            <div id="<%= chatrooms[id]._id %>" class="requestChatroom">
              <i class="fas fa-hashtag"></i>
               <%= chatrooms[id].name %>
             </div>
          <% } %>
       <% } %>
      </public-channels>

      <!-- Private messages -->
      <private-message>
        <div id="private-message-title"><i class="fas fa-plus-circle" id="create-private-message"></i> Private Message</div>
        <% for(let id = 0; id < chatrooms.length; id++){ %>
          <% if(chatrooms[id].type === 'privateMessage'){ %>
            <div id="<%= chatrooms[id]._id %>" class="requestChatroom">
              <i class="fas fa-circle"></i>
              <% for(let member = 0; member < chatrooms[id].members.length; member++){ %>
                <%= chatrooms[id].members[member].alias %>
              <% } %>
            </div>
          <% } %>
        <% } %>
        <%# for(let i=0; i < users.length; i++){ %>
        <!--<div id="<%#= users[i]._id %>" class="requestChatroom"><i class="fas fa-circle"></i> <%#= users[i].alias %></div>-->
        <%# } %>
      </private-message>
      <users-online>
        <div id="online-users-title"><i class="fas fa-circle"></i> Online users</div>
        <div id="users-online"></div>
      </users-online>

    </side-bar>

    <!-- chat module container-->
    <main-content>
      <overlay-root class="hidden"></overlay-root>

      <!--Top bar(git p inside this chatroom/conversation) 75px height, 100% width-->
      <top-bar id="topBar"></top-bar>

      <message-root>
      </message-root>
      <is-typing id="typing"></is-typing>
      <form id="msgForm">
        <input autocomplete="off" type="text" id="messageValue" class="form-control"><i class="far fa-smile" id="open-emoji-picker"></i><input type="submit"
          class="btn btn-success" id="sendMessage" name="button" value="Send"></input>
      </form>

      <mentions-root class="hidden"></mentions-root>
    </main-content>
  </main-container>

  <!--Delete message modal-->
  <div class="modal fade" id="delete-message-modal" tabindex="-1" role="dialog" aria-labelledby="delete-message-modal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this message?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          This action cannot be reverted
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" id="delete-btn">Delete message</button>
        </div>
      </div>
    </div>
  </div>

  <!--Edit message modal-->
  <div class="modal fade" id="edit-message-modal" tabindex="-1" role="dialog" aria-labelledby="edit-message-modal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <textarea name="" id="edit-message" cols="30" rows="10"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="edit-btn">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <!--Search users modal-->
  <div class="modal fade" id="create-pm-modal" tabindex="-1" role="dialog" aria-labelledby="create-pm-modal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" id="create-pm-header">
          <h5 class="modal-title" id="exampleModalLabel">Create PM</h5>
          <input type="text" class="w-100" placeholder="Search for user..." id="create-pm-user-search">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="create-pm-body">
          <h5 id="search-result">Search results</h5>
          <user-list></user-list>
          <h5 id="users-to-add">Users to add</h5>
          <users-to-add></users-to-add>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="create-pm-btn">Add to chat</button>
        </div>
      </div>
    </div>
  </div>

  <!--create chatroom modal-->
  <div class="modal fade" id="create-chatroom-modal" tabindex="-1" role="dialog" aria-labelledby="create-chatroom-modal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" id="create-chatroom-header">
          <h5 class="modal-title" id="createChatroomTitle">Create chatroom</h5>
          <input type="text" class="w-100" id="createChatroomName" placeholder="Enter chatroom name">
          <h5 id="createChatroomAddUserTitle">Add user</h5>
          <input type="text" class="w-100" placeholder="Search for user..." id="chatroom-user-search">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="create-chatroom-body">
          <h5 id="chatroom-search-result">Search results</h5>
          <chatroom-user-list></chatroom-user-list>
          <h5 id="chatroom-users-to-add">Users to add</h5>
          <chatroom-users-to-add></chatroom-users-to-add>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="create-chatroom-btn">Add to chat</button>
        </div>
      </div>
    </div>
  </div>

  <!--Edit profile modal-->
  <div class="modal fade" id="edit-profile-modal" tabindex="-1" role="dialog" aria-labelledby="edit-message-modal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="edit-modal-container">
          <div id="edit-profile-preview-container">
            <img src="" alt="" id="edit-profile-preview" onerror = "this.src = `https://pngimage.net/wp-content/uploads/2018/05/default-user-profile-image-png-7.png`;">
          </div>

          <!-- ladda upp bild -->
          <form class="form-horizontal" id="edit-form" name="profile-pic" action="/uploadfile" method="POST"
            enctype="multipart/form-data">
            <label for="filebtn" class="btn btn-secondary btn-uploadFile"> <input type="file" name="profile_picture" id="filebtn">Upload an image</label>
            <input type="submit" id="submit-profile-pic" class="btn btn-warning" value="Save image">
            <input type="hidden" name="_id" id="pictureID">
          </form>
          <p id="edit-text-alias">Alias</p>
          <input type="text" placeholder="" id="edit-alias"> <br> <br>
          <p id="edit-text-email">Email address: </p>
          <input type="email" placeholder="" id="edit-email">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal" id="update-profile-btn">Save
            changes</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js" type="module"></script>

</html>
