<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://kit.fontawesome.com/fcc82c8a72.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="row">
    <!-- Left side bar -->
    <side-bar>
      <img src="img/pipeline.svg" alt="Logo">
      <user-name>Bryan Santamaria</user-name>
      <public-channels>
        <div><i class="fas fa-plus-circle"></i> Channels</div>
        <div><i class="fas fa-hashtag"></i> Random</div>
        <div><i class="fas fa-hashtag"></i> General</div>
        <div><i class="fas fa-hashtag"></i> Discussion</div>
      </public-channels>
      <private-message>
        <div><i class="fas fa-plus-circle"></i> Private Message</div>
        <div><i class="fas fa-circle"></i> Bryan Santamaria</div>
        <div><i class="fas fa-circle"></i> Fabian Johansson</div>
        <div><i class="fas fa-circle"></i> Alexander Wilson</div>
      </private-message>
    </side-bar>
    <!-- chat module container -->
    <main-content>
      <!--Top bar(Members inside this chatroom/conversation)-->
      <message-root></message-root>
      <form>
        <input type="text" id="messageValue" name="" value="">
        <input type="submit" id="sendMessage" name="button"></input>
      </form>
    </main-content>
  </div>


  <!--Delete message modal-->
  <div class="modal fade" id="delete-message-modal" tabindex="-1" role="dialog" aria-labelledby="delete-message-modal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this message?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          This action cannot be reverted
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" id="delete-btn">Delete message</button>
        </div>
      </div>
    </div>
  </div>

  <!--Edit message modal-->
  <div class="modal fade" id="edit-message-modal" tabindex="-1" role="dialog" aria-labelledby="edit-message-modal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <textarea name="" id="edit-message" cols="30" rows="10"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="edit-btn">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js" type="module"></script>

</html>
