$sidebar-color: linear-gradient(270deg, #616070 0%, #685d74 100%);
$darken-light: rgba(0, 0, 0, 0.1);
$darken-heavy: rgba(0, 0, 0, 0.2);
$lighten-light: rgba(255, 255, 255, 0.1);

$sidebar-width: 330px;

::-webkit-scrollbar {
  display: none;
}


@keyframes clippedIn {
    0% {
      clip-path: polygon(0% 0%, 0% 0%, -200px 100%, 0% 100%);
    }
  
    30%{
      clip-path: polygon(0% 0%, 600px 0%, 400px 100%, 0% 100%);
    }
  
    100% {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

@keyframes slideDown {
  0% {
    transform: translate(0, 200vh);
  }

  30% {
    transform: translate(0, 0);
  }

  55% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 200vh);
  }
}

@keyframes clippedInStraight {
  0% {
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  }

  30%{
    clip-path: polygon(0% 0%, $sidebar-width 0%, $sidebar-width 100%, 0% 100%);
  }

  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

%startSlideDown {
  transform: translate(0, 200vh);
}


* {
    margin: 0;  
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }

%startClipped {
  clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
}

%side-bar {
  background: $sidebar-color;
  display: grid;
  grid-template-rows: auto auto 0.7fr 1fr 0.5fr;
  width: $sidebar-width;
  height: 100vh;
  box-sizing: border-box;
  padding-left: 20px;
}

%logo {
  width: 100%;
  transform: scale(1.08);
  box-sizing: border-box;
  margin-left: -6px;
  margin-top: 10px;
}