@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap');
@import 'global';

/*body {
  @extend %startClipped;
  animation: clippedInStraight 1.5s 1.2s 1;
  animation-fill-mode: forwards;
}*/

.removed-msg, .hidden {
  transition: 1s all;
  clip-path: inset(0 100% 0 0) !important;
}

login-sucess {
  @extend %startSlideDown;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000090000000000;
  top: 0;
  left: 0;
  animation: slideDown 2.5s 0s 1;
  animation-fill-mode: forwards;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  display: grid;

  h1 {
    display: inline;
    align-self: center;
    justify-self: center;
    grid-row: 2;
    grid-column: 2;
  }
}

.mention {
  color: rgb(35, 60, 143);
  margin-left: 0em;
  cursor: pointer;
  font-size: 1em;
}

msg-container {
  display: grid;
  grid-template-columns: 70px auto 1fr 30px 30px;
  grid-template-rows: 24px 1fr;
  padding-bottom: 10px;
  border-bottom: 1px solid #D2D2D2;
  margin-top: 20px;
  box-sizing: border-box;
  margin-left: 1.3em;
  margin-right: 1.3em;
  transition: 0.5s all;
  transform-origin: center left;
  clip-path: inset(0 0 0 0);
  z-index: -1;

  avatar-container {
    overflow: hidden;
    grid-column: 1;
    grid-row: 1 / 3;
    border-radius: 1000px;
    width: 100%;
    max-height: 70px;

    #edit-profile-preview {
      width: 100%;
    }
  }

  p {
    grid-column: 2 / 4;
    grid-row: 2;
    color: #181818;
    font-size: 0.8em;
    padding-left: 1em;
  }

  h1 {
    grid-column: 2;
    grid-row: 1;
    color: #646464;
    font-size: 1.2em;
    padding-left: 0.4em;
  }

  span {
    grid-column: 3;
    grid-row: 1;
    margin-left: 5px;
    color: #A6A6A6;
    font-size: 0.7em;
    transform: translate(0, 0.35em);
  }

  edit-btn {
    justify-self: center;
    grid-column: 4;
    grid-row: 1;
    color: #868686;
  }

  delete-btn {
    justify-self: center;
    grid-column: 5;
    grid-row: 1;
    color: rgba(192, 56, 56, 0.68);
  }

  .fa-pen:hover{
    color: darken(#868686, 20);
  }

  .fa-times:hover{
    color: rgba(192, 56, 56, 1);
  }
}

%channel-light {
  margin-top: 10px;
  background: $darken-light;
  margin-left: -30px;
  padding-left: 60px;
  padding-top: 3px;
  padding-bottom: 3px;
  user-select: none;
  transition: 0.2s all;

  &:hover {
    background: $darken-heavy;
    cursor: pointer;
  }

  &:active {
    background: $lighten-light;
  }
}

%channel-dark {
  background: $darken-heavy;
  margin-left: -30px;
  padding-left: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
}

overlay-root {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.05);
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;

  .hidden {
    display: none;
  }
}

main-container {
  flex-wrap: nowrap;
  color:white;
  margin: 0;
  padding: 0;
  width: 100vw;
  position: fixed;
  display: grid;
  grid-template-columns: $sidebar-width 1fr;

  @extend %startClipped;
  animation: clippedInStraight 1.5s 1.5s 1;
  animation-fill-mode: forwards;

  side-bar {
    @extend %side-bar;
    width: 100%;
    overflow: hidden;
    grid-column: 1;

    transition: 0.5s all;
    transition-timing-function: ease-in;
    clip-path: inset(0% 0% 0% 0%);

    img {
      @extend %logo ;
    }

    user-name {
      transform: translate(0, -60%);
      grid-row: 2;

      i {
        color: rgb(142, 207, 45);
      }

      #user-settings {
        grid-column: 2;
        grid-row: 2;
        color: rgba(255,255,255, 0.6);

        &:hover {
          color: rgba(255,255,255, 1);
        }
      }
    }
    public-channels {
      margin-top: 50px;
      margin-left: -20px;
      grid-row: 3;
      overflow-y: scroll;
      overflow-x: visible;
      scrollbar-width: none;


      #channel-title {
        @extend %channel-dark;
      }

      div {
        @extend %channel-light;
      }
    }
    private-message {
      grid-row: 4;
      margin-left: -20px;
      overflow-y: scroll;
      overflow-x: visible;
      scrollbar-width: none;

      #private-message-title {
        @extend %channel-dark;
      }

      div {
        @extend %channel-light;
      }
    }
    users-online {
      grid-row: 5;
      margin-left: -20px;
      overflow-y: scroll;
      overflow-x: visible;
      scrollbar-width: none;
      i {
        color: rgb(142, 207, 45);
      }
      #online-users-title {
        @extend %channel-dark;
      }
      #users-online {
        @extend %channel-light;
      }
    }

  }

  main-content {
    grid-column: 2;
    display: grid;
    grid-template-rows: 75px 1fr 75px;
    grid-template-columns: auto;
    width: 100%;
    height: 100vh;
    clip-path: inset(0% 0% 0% 0%);
    transition-timing-function: ease-out;
    transition: 0.8s all;
    background: white;

    top-bar {
      color: #616070;
      text-align: center;
      font-size: 2.5rem;
      background: rgb(251, 251, 251);
      box-shadow: 0px 4px 10px $darken-light;
    }

    message-root {
      box-sizing: border-box;
      grid-row: 2;
      overflow-y: scroll;
      z-index: -2;
    }
    is-typing{
      color:black;
    }
    form{
      box-shadow: 0px 4px 10px $darken-light;
      grid-row: 3;
      display: flex;
      align-items: center;
      padding-left: 1em;
      padding-right: 1em;
      z-index: 2;
      background: white;
      width: 100%;
      #messageValue{
        display: inline;
        //grid-row-start: 1;
        //grid-row-end: 2;
      }
      #sendMessage{
        margin-left: 1%;
        width: 19%;
        //grid-row-start: 2;
        //grid-row-end: 3;
        //color: red;
      }
    }
  }
}

#edit-modal-container {
  display:grid;
  grid-template-rows: auto 1fr 1fr;

  img {
    width: 100%;
  }
}
/*#edit-profile-preview {}*/

#create-pm-body {
  background: darken(white, 4);
  h5 {
    font-size: 1em;
  }
  user-list {
    display: block;
    padding: 2px 5px;
    box-sizing: border-box;
    background: white;
    border-radius: 15px;
    min-height: 50px;
    user-list-item {
      display: block;
      transition: 0.2s all;
      border-left: 1px solid rgba(0,0,0,0);
      box-sizing: border-box;
      padding: 5px;
      padding-left: 15px;
      width: 100%;
      border-bottom: 1px solid rgba(0,0,0,0.05);
      border-radius: 15px;
      user-select: none;
      margin-top: 5px;
      margin-bottom: 5px;

      &:hover {
        background: rgba(0,0,0,0.02);
      }

      &:active {
        background: rgba(0,0,0,0.05);
      }
    }
  }

  #edit-message, #user-search {
    width: 100%;
  }



  #search-result {
    margin-top: 5px;
    //border-bottom: 1px solid rgba(0,0,0,0.05);
    padding-bottom: 10px;
  }

  #users-to-add {
    margin-top: 20px;
  }
}

#mention-alert {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100000;
}

mentions-root {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  align-content: flex-end;
  bottom: 65px;
  left: $sidebar-width;
  //transform: translate(50%, 0);
  width: 20vw;
  z-index: 3;
  padding: 10px;
  border-radius: 10px;
  //box-shadow: 0 0 10px 5px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.05);
  border-bottom: 1px solid rgba(0,0,0,0);
  background: white;

  mentions-item {
    color: black;
    border: 1px solid rgba(0,0,0,0);
    user-select: none;
    padding-left: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    &:hover {
      background-color: rgba(0,0,0,0.05);
    }

    &:active {
      border: 1px solid rgba(0,0,0,0.1);
      background-color: rgba(0,0,0,0.06);

    }
  }

  .hidden {
    display: none;
  }
}

users-to-add {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;

  add-to-chat-item {
    min-width: 60px;
    padding: 5px;
    height: 30px;
    background: white;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.01);
    display: flex;
    grid-template-columns: 1fr 12px;
    align-items: center;
    box-sizing: border-box;
    align-content: center;
    align-items: center;
    margin-right: 10px;

    p {
      color: #181818;
      font-size: 0.8em;
      height: 100%;
      align-self: center;
      padding: 0;
      padding-top: 0.55em;
      user-select: none;
    }

    span {
      cursor: pointer;
      padding: 0;
    }
  }
}

#create-pm-header {
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-rows: 1fr 1fr;

  h5 {
    grid-column: 1;
    grid-row: 1;
  }

  #create-pm-user-search {
    grid-column: 1 / 3;;
    grid-row: 2;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
  }
}
