@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.removed-msg {
  -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0);
}

msg-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px auto 1fr 30px 30px;
      grid-template-columns: 70px auto 1fr 30px 30px;
  -ms-grid-rows: 24px 1fr;
      grid-template-rows: 24px 1fr;
  border-bottom: 1px solid #D2D2D2;
  margin-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 1.3em;
  margin-right: 1.3em;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}

msg-container avatar-container {
  overflow: hidden;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  border-radius: 1000px;
  width: 100%;
  max-height: 70px;
}

msg-container avatar-container img {
  width: 100%;
}

msg-container p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 2;
  grid-row: 2;
  color: #181818;
  font-size: 0.8em;
  padding-left: 1em;
}

msg-container h1 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  color: #646464;
  font-size: 1.2em;
  padding-left: 0.4em;
}

msg-container span {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-left: 5px;
  color: #A6A6A6;
  font-size: 0.7em;
  -webkit-transform: translate(0, 0.35em);
          transform: translate(0, 0.35em);
}

msg-container edit-btn {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
  color: #868686;
}

msg-container delete-btn {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 1;
  grid-row: 1;
  color: rgba(192, 56, 56, 0.68);
}

msg-container .fa-pen:hover {
  color: #535353;
}

msg-container .fa-times:hover {
  color: #c03838;
}

.row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: white;
  margin: 0;
  padding: 0;
}

.row side-bar {
  background: -webkit-gradient(linear, right top, left top, from(#616070), to(#685d74));
  background: linear-gradient(270deg, #616070 0%, #685d74 100%);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto 0.7fr 1fr;
      grid-template-rows: auto auto 0.7fr 1fr;
  width: 330px;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
}

.row side-bar img {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: -15px;
}

.row side-bar user-name {
  -ms-grid-row: 2;
  grid-row: 2;
}

.row side-bar public-channels {
  margin-top: 50px;
  -ms-grid-row: 3;
  grid-row: 3;
}

.row side-bar private-message {
  -ms-grid-row: 4;
  grid-row: 4;
}

login-container form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 1px purple;
  padding: 50px;
  margin: auto;
  width: 50vw;
}

#edit-message {
  width: 100%;
}

main-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 75px 1fr 75px;
      grid-template-rows: 75px 1fr 75px;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  width: calc(100vw - 330px);
  height: 100vh;
}

main-content message-root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-row: 2;
  grid-row: 2;
  overflow-y: scroll;
}

main-content form {
  -ms-grid-row: 3;
  grid-row: 3;
}
/*# sourceMappingURL=style.css.map */